.pagination {
	display: flex;
	justify-content: center;
}
.pagination_list {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	gap: 1rem;
}
.pagination_item {
	background: var(--section-bg-color);
	color: #fff;
	/* border-radius: 1rem; */
	border: var(--border);
	cursor: pointer;
}

.pagination_item a {
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.pagination_item:first-child {
    border-radius:  0 1rem 1rem 0;
    width: 5rem;
}

.pagination_item:last-child {
    border-radius: 1rem 0 0 1rem;
    width: 5rem;
}

.pagination_item--active, .pagination_item:hover {
	background: var(--app-bg-color);
}

.pagination_item svg {
	width: 2rem;
}
