.isValid {
	transition: all 500ms ease;
	border: 0.3rem solid #00e000b4 !important;
}
.isNotValid {
	transition: all 500ms ease;
	border: 0.3rem solid #e60000b5 !important;
}
.input_svg_is_valid path {
	fill: #00e000;
}
