.landing {
	/* padding-top: 10rem; */
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15rem;
	padding-bottom: 20rem;
}
.landing-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.landing-title {
	font-size: 6rem;
	font-family: "IRANSans Black";
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
	gap: 1.5rem;
	/* z-index: 9; */

	/* text-shadow: 0 0 3rem rgba(0, 0, 0, 1); */
}

.landing-description {
	text-shadow: 0 0 3rem rgba(0, 0, 0, 1);
	font-size: 3rem;
	margin-top: 4rem;
	font-family: "IRANSans Bold";
}

.landing-status {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	margin-top: 5rem;
}
.landing-status__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 20rem;
}
.landing-status__count {
	font-size: 2rem;
	font-family: "IRANSans Bold";
}
.landing-status__text {
	font-family: "IRANSans Bold";
}
