.section-header {
    margin-top: 9rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 1rem;
	border: var(--border);
	background: linear-gradient(
		to right,
		#ffffff21,
		var(--primary-color),
		#ffffff21
	);
	overflow: hidden;
	padding: 0.5rem 1.5rem 0.5rem 0;
}
.section-header_title {
	font-size: 2.5rem;
	font-family: "IRANSans Bold";
	position: relative;
	color: #fff;
	flex-basis: 85%;
	width: 100%;
	flex-grow: 1;
}

.section-header_more {
	background: transparent;
	color: #fff;
	padding: 0.7rem 1.2rem;
	font-size: 1.8rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 18.5rem;
	position: relative;
}

.section-header_more-icon {
	width: 2rem;
}


.section-header_more::after {
    content: "";
    position: absolute;
    background:rgba(255, 255, 255, 0.677);
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(45deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    border-radius: 0.5rem;
	transition: all 150ms ease-in-out;
	z-index: 1;
}

.section-header_more:hover::after {
	opacity: 0.5;
}
