.last-course {
    padding-top: 7rem;
    padding-bottom: 10rem;
}

.courses-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4rem;
    /* margin: 0 1rem !important; */
}