@import url(./fonts.css);
@import url(./grid.css);
@import url(./responsive.css);
@import url(./helpers.css);
@import url(./reset.css);

html {
	font-size: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #9b9898;
	--primary-color-light: #3c2a2ab7;
	--section-bg-color: #3C2A2A;
	--app-bg-color: #ffffff57;
	--text-color: #333;
	--background: linear-gradient(
		to right,
		var(--primary-color-light),
		var(--section-bg-color),
		var(--primary-color-light)
	);
	--border: 0.3rem solid #ffffff2c;
}

body {
	font-family: "IRANSans";
	color: var(--text-color) !important;
	font-size: 1.6rem;
	/* background: var(--app-bg-color); */
	background: var(--primary-color);
}

a {
	color: var(--text-color);
	text-decoration: none;
}
