@import url(./fonts.css);
@import url(./grid.css);
@import url(./responsive.css);
@import url(./helpers.css);
@import url(./reset.css);

html {
	font-size: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #20545a;
	/* --primary-color-light: #4FC3F7; */
	--section-bg-color: #fff;
	--app-bg-color: #e1f5fe;
	--dark-color: #464749;
	--text-color: #333;
--background: linear-gradient(
	to right,
	#ffffff21,
	var(--primary-color),
	#ffffff21
);
	--border: 0.3rem solid #ffffff21;
}

body {
	font-family: "IRANSans";
	color: var(--text-color) !important;
	font-size: 1.6rem;
	/* background: var(--app-bg-color); */
	background: var(--primary-color);
}

a {
	color: var(--text-color);
	text-decoration: none;
}
