@media screen and (max-width: 768px) {
	.nav-list {
		display: none;
		flex-direction: column;
		background: var(--section-bg-color);
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		height: 0;
		text-align: center;
		transition: all 200ms ease-in-out;
		display: flex;
		justify-content: start;
		border-bottom: 0.2rem solid var(--primary-color-light);
	}
	.nav-list--open {
		height: 25rem;
	}

	.nav-item {
		border-radius: 5rem;
	}
	.nav-btn {
		display: block;
	}
}
