@media screen and (max-width: 1200px) {
	.teacher_position {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.landing-title {
		font-size: 4rem;
	}
	.landing-description {
		font-size: 2rem;
	}
	.landing {
		padding: 10rem 0;
	}

	.landing-status {
		gap: 3rem;
	}

	.landing-description {
		margin-top: 4rem;
	}
	.footer .container .row {
		gap: 2rem;
	}
	.course_header {
		flex-direction: column-reverse;
		/* gap: 5rem; */
	}

	.course_pagelink {
		margin-bottom: 0;
	}
	.teacher_position {
		width: auto;
	}
}
@media screen and (max-width: 768px) {
	.nav-list {
		flex-direction: column;
		width: 100%;
		overflow: hidden;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		height: 0;
		text-align: center;
		transition: all 300ms ease-out;
		justify-content: center;
		background: var(--primary-color);
		border-bottom: var(--border);

	}
	.nav-list--open {
		height: 17rem;
	}

	.nav-item {
		border-radius: 5rem;
	}
	.nav-btn {
		display: block;
	}
	.landing-title {
		font-size: 3rem;
	}

	.landing-status {
		gap: 1rem;
		margin-top: 3rem;
	}
	.landing-status__item {
		width: 18rem;
		gap: 1rem;
	}

	.category-header {
		flex-direction: row;
        gap: 1rem;
        justify-content: center;
	}

	.category-header_selection-list {
		left: -10rem;
	}
	.category-header_column-btn, .category-header_row-btn{
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.landing-status {
		gap: 5rem;
		margin-top: 4rem;
		flex-direction: column;
	}

	.landing {
		padding-top: 7rem;
	}

	.course_header-title {
		font-size: 2.5rem;
	}
}
