.breadcrumb {
    border: var(--border);
    border-radius: 1rem;
	background: var(--background);
    padding: 1rem 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    color: #fff;
    gap: 1rem;
}
.breadcrumb_icon {
    width: 2rem;
}
.breadcrumb_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}
.breadcrumb_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

}
.breadcrumb_item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: #fff;

}
.breadcrumb_item_icon {
    width: 1rem;
}