.coursedetailbox {
	padding: 1rem;
	border: var(--border);
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
    gap: 1.5rem;
    background: linear-gradient(
		to right,
		#ffffff21,
		var(--primary-color),
		#ffffff21
	);
	height: 7.5rem;
	cursor: default;
}
.coursedetailbox_svg {
	width: 5rem;
	/* height: 2rem; */
}
.coursedetailbox_texts {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
}
.coursedetailbox_title {
    font-size: 2rem;
}
.coursedetailbox_caption {
}
