.coursebox {
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	overflow: hidden;
	border: var(--border);
	color: #fff;
	cursor: pointer;
	transition: all 50ms ease;
	background: linear-gradient(
		to right,
		#ffffff21,
		var(--primary-color),
		#ffffff21
	);
}
.coursebox:hover {
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);
}
.coursebox_img {
	border-radius: 0 0 1rem 1rem;
	height: 21rem;
}

.coursebox_details {
	padding: 2rem 1.5rem;
}
.coursebox_title {
	font-family: "IRANSans Bold";
	font-size: 2rem;
}

.coursebox_info-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.coursebox_studends svg,
.coursebox_teacher svg {
	margin-left: 0.5rem;
}

.coursebox_btn {
	padding: 1.5rem;
	text-align: center;
	width: 100%;

	background: transparent;
	border-top: 0.1rem solid #ffffff21;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
