.header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 100%; */
	background-image: linear-gradient(var(--primary-color-light), var(--primary-color-light)),
		url(../../../public/images/background_landing.jfif);
	box-shadow: inset 0 0 10rem rgba(0, 0, 0, 1);


}
