.header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../../../public/images/header-bg-min.jpg);
	/* background: rgba(0, 0, 0, 0.3); */
	padding-bottom: 20rem;

}
