.navbar {
	backdrop-filter: blur(1rem);
	background: var(--primary-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
	position: sticky;
	top: 0;
	box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
	border-bottom: var(--border);
	background: linear-gradient(to bottom, var(--primary-color), #20545a88);
	z-index: 2;
}

.nav-right,
.nav-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.nav-logo {
	font-size: 3rem;
	font-family: "IRANSans Black";
	/* margin-left: 1rem; */
	cursor: pointer;
	color: #fff;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.nav-item {
	color: #fff;
	position: relative;
}

.nav-item::after {
	color: #fff;
	content: "";
	position: absolute;
	background: var(--yellow-coloe);
	width: 2rem;
	height: 2rem;
	transform: rotate(45deg);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	border-radius: 0.5rem;
	transition: all 150ms ease-in-out;
	z-index: -1;
}
.nav-item:hover {
	text-shadow: 0 0 1rem #000;
}
.active > .nav-item::after {
	opacity: 0.4;
}

.nav-serach,
.nav-basket,
.nav-user {
	cursor: pointer;
	margin-right: 0.6rem;
	color: #fff;
	font-size: 2rem;
}
.nav-serach svg,
.nav-basket svg,
.nav-user svg {
	width: 2rem;
	height: 2rem;
}

.nav-btn {
	display: none;
}
.nav-basket {
	position: relative;
}
.basket-notif {
	background:var(--yellow-coloe);
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 100%;
	font-size: 1.6rem;
	/* padding: 1rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -1rem;
	right: -1rem;
}

/* hamberger menu */
.nav-btn {
	padding: 1.5rem 1rem;
	cursor: pointer;
}
.nav-btn-line {
	position: relative;
}
.nav-btn-line,
.nav-btn-line::before,
.nav-btn-line::after {
	width: 2rem;
	height: 0.3rem;
	background: #fff;
	border-radius: 1rem;
	transition: all 50ms ease-in-out;
}

.nav-btn-line::before,
.nav-btn-line::after {
	content: "";
	position: absolute;
	transition: all 100ms ease-in-out;
}
.nav-btn-line::before {
	top: 0.7rem;
}
.nav-btn-line::after {
	top: -0.7rem;
}
.nav-btn--open .nav-btn-line {
	background: transparent;
}
.nav-btn--open .nav-btn-line::after {
	transform: translateY(0.7rem) rotate(45deg);
}
.nav-btn--open .nav-btn-line::before {
	transform: translateY(-0.7rem) rotate(-45deg);
}
