.navbar {
	background: var(--section-bg-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
	position: sticky;
	top: 0;
	box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
	border-bottom: 0.2rem solid var(--primary-color-light);
}

.nav-right,
.nav-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.nav-logo {
	font-size: 2rem;
	font-family: "IRANSans Black";
	margin-left: 1rem;
	cursor: pointer;
}

.nav-list {
	display: flex;
	flex-direction: row;
}

.nav-item {
	padding: 1rem 0.5rem;
	margin: 0.5rem;
	cursor: pointer;
	transition: all 100ms ease;
}
.nav-item a {
	transition: all 100ms ease;
}

.nav-item--active a,
.nav-item:hover a {
	color: var(--primary-color);
}

.nav-serach,
.nav-basket,
.nav-user {
	cursor: pointer;
  margin-right: .5rem;
}
.nav-btn {
	display: none;
}

/* .fa-search:hover,
.fa-shopping-cart:hover,
.fa-user:hover {
	color: var(--primary-color);
} */

/* .nav-serach {
	height: 3.2rem;
} */

/* .nav-serach:hover .nav-serch-input {
	display: block;
} */
/* 
.nav-serch-input {
	border: none;
	outline: none;
	margin: 0 1rem;
	direction: rtl;
	display: none;
  transition: all 200ms ease;
} */

/* hamberger menu */
.nav-btn {
	padding: 1.5rem 1rem;
	cursor: pointer;

}
.nav-btn-line {
	position: relative;
}
.nav-btn-line,
.nav-btn-line::before,
.nav-btn-line::after {
	width: 2rem;
	height: 0.3rem;
	background: var(--text-color);
	border-radius: 1rem;
	transition: all 50ms ease-in-out;
}

.nav-btn-line::before,
.nav-btn-line::after {
	content: "";
	position: absolute;
	transition: all 100ms ease-in-out;
}
.nav-btn-line::before {
	top: 0.7rem;
}
.nav-btn-line::after {
	top: -0.7rem;
}
.nav-btn--open .nav-btn-line {
	background: transparent;
}
.nav-btn--open .nav-btn-line::after {
	transform: translateY(0.7rem) rotate(45deg);
}
.nav-btn--open .nav-btn-line::before {
	transform: translateY(-0.7rem) rotate(-45deg);
}
