.footer {
	border-top: var(--border);
	background: var(--primary-color);
	box-shadow: 0 -0.5rem 3rem rgba(0, 0, 0, 0.1);
	color: #fff;
	padding-top: 6rem;
	margin-top: 9rem;
	background: var(--background);
}

.footer_title {
	font-family: "IRANSans Bold";
	font-size: 2.5rem;
	margin-bottom: 3rem;
	position: relative;
	display: block;
	z-index: 2;
}
.footer_title::after {
	content: "";
	position: absolute;
	background: var(--yellow-coloe);
	width: 3.5rem;
	height: 3.5rem;
	right: 2rem;
	transform: rotate(45deg);
	top: 0;
	bottom: 0;
	margin: auto 0;
	opacity: 0.5;
	border-radius: 0.3rem;
	z-index: -1;
}
.footer_items {
	display: flex;
	flex-direction: row;
	align-items: start;
	flex-wrap: wrap;
	gap: 2.5rem;
}
.footer_items a {
	font-family: "IRANSans Bold";
	color: #fff;
	cursor: pointer;
    position: relative;
	z-index: 1;
}

.footer_items a::after {
    content: "";
    position: absolute;
    background:var(--yellow-coloe);
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(45deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    border-radius: 0.5rem;
	transition: all 150ms ease-in-out;
	z-index: -1;
}

.footer_items a:hover::after {
	opacity: 0.5;
}

.footer_item_about {
	color: #dddddd;
	line-height: 1.6;
	text-align: justify;
}


.footer_copyright {
	border-top: var(--border);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}