.course {
}
.course_header {
	border: var(--border);
	border-radius: 1rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 3rem;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3rem;
	background: var(--background);

}
.course_header-content {
	flex-basis: 50%;
}
.course_header-title-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0 3rem 0;

}
.course_header-label {
	background: var(--primary-color);
	padding: 0.5rem 1rem;
	display: inline;
	border: var(--border);
	border-radius: 1rem;
	cursor: pointer;
}
.course_header-title {
	font-size: 3rem;
	font-family: "IRANSans Bold";
}
.course_header-description {
	text-align: justify;
	line-height: 1.5;
}
.course_header-cover {
	flex-basis: 50%;
	border: var(--border);
	border-radius: 1rem;
	overflow: hidden;
}
.course_header-cover_video {
	width: 100%;
	height: 100%;
}

.course_content {
}
.course_main-right {
	
}

.course_info_wrapper {

}

.course_main-left {
	
}


.course_progress {
	border: var(--border);
 		border-radius: 1rem;
	background: var(--background);
	padding: 2rem 1rem;
	
	
}
.course_progress_header {
	color: #fff;
	font-size: 2rem;
	
}
.course_progress_header svg {
	width: 2.5rem;
	margin-left: 1rem;

}
.course_progress_bar {
	background: var(--primary-color);
	margin-top: 2rem;
	border-radius: 1rem;
	width: 100%;
	height: 1rem;
	direction: ltr;
	
}
.course_progress_line {
	background: #fff;
	margin-top: 2rem;
	border-radius: 1rem;
	width: 70%;
	height: 1rem;

}