.course {
}
.course_header {
	border: var(--border);
	border-radius: 1rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 3rem;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3rem;
	background: var(--background);
}
.course_header-content {
	flex-basis: 50%;
}
.course_header-title-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0 3rem 0;
}
.course_header-label {
	background: #ffffff57;
	padding: 0.5rem 1rem;
	display: inline;
	border: var(--border);
	border-radius: 1rem;
	cursor: pointer;
}
.course_header-title {
	font-size: 3rem;
	font-family: "IRANSans Bold";
}
.course_header-description {
	line-height: 1.8;
	font-size: 1.8rem;
	text-align: justify;
	margin-bottom: 1.8rem;
}
.course_header-cover {
	flex-basis: 50%;
	border: var(--border);
	border-radius: 1rem;
	overflow: hidden;
}
.course_header-cover_video {
	width: 100%;
	height: 100%;
}

.course_progress {
	border: var(--border);
	border-radius: 1rem;
	background: var(--background);
	padding: 2rem;
}
.course_progress_header {
	color: #fff;
	font-size: 2rem;
}
.course_progress_header svg {
	width: 2.5rem;
	margin-left: 1rem;
}
.course_progress_bar {
	background: var(--primary-color);
	margin-top: 2rem;
	border-radius: 1rem;
	width: 100%;
	height: 1rem;
	direction: ltr;
}
.course_progress_line {
	background: #ffffffc6;
	margin-top: 2rem;
	border-radius: 1rem;
	width: 70%;
	height: 1rem;
}

.course_intro {
	background: var(--background);
	border-radius: 1rem;
	border: var(--border);
	padding: 3rem 2rem;
	margin-top: 3rem;
	color: #fff;
}
.course_intro_title {
	font-size: 2.5rem;
	font-family: "IRANSans Bold";
	position: relative;
	flex-basis: 85%;
	width: 100%;
	flex-grow: 1;
	margin: 3.5rem 0 2rem 0;
	position: relative;
}
.course_intro_title:first-child {
	margin-top: 0;
}
.course_intro_title::after {
	content: "";
	position: absolute;
	background: #ffffff57;
	width: 3rem;
	height: 3rem;
	transform: rotate(45deg);
	right: 1rem;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.7;
	border-radius: 0.5rem;
	z-index: -1;
}
.course_intro_description {
	line-height: 1.8;
	font-size: 1.8rem;
	text-align: justify;
	margin-bottom: 1.8rem;
}

.course_intro_btns {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 4rem;
}
.course_intro_btn {
	background: #ffffff57;
	border-radius: 1rem;
	border: var(--border);
	padding: 1rem 1.5rem;
	color: #fff;
}

.course_intro_btn:hover,
.course_pagelink_url:hover,
.teacher_position:hover {
	text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

.course_teacher {
	background: var(--background);
	border-radius: 1rem;
	border: var(--border);
	padding: 2rem;
	/* margin-top: 3rem; */
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 3rem;
}
.teacher_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.techaer_profile {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
.teacher_img {
	width: 5rem;
	height: 5rem;
	border: var(--border);
	border-radius: 50%;
}
.teacher_details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.teacher_name {
	font-size: 1.6rem;
}
.teacher_task {
	font-size: 1.4rem;
}
.teacher_position {
	cursor: pointer;

	background: #ffffff57;
	border: var(--border);
	border-radius: 1rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.teacher_position img {
	width: 2rem;
}

.teacher_caption {
	margin-top: 1rem;
	line-height: 1.8;
	font-size: 1.8rem;
	text-align: justify;
}

.course_register,
.course_students,
.course_pagelink {
	background: var(--background);
	border-radius: 1rem;
	border: var(--border);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	color: #fff;
}

.course_register_content,
.course_students_wrapper,
.course_pagelink_url {
	background: #ffffff57;
	border-radius: 1rem;
	border: var(--border);
	padding: 1rem 1.5rem;
	color: #fff;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}
.course_pagelink_url {
	cursor: pointer;
}
.course_register svg,
.course_students svg,
.course_pagelink svg {
	width: 2.5rem;
}

.course_students_wrapper {
	flex-direction: column;
	align-items: center;
	height: auto;
	gap: 2.5rem;
}

.course_students_header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
.course_students_header::after {
	content: "";
	background: #fff;
	position: absolute;
	width: 100%;
	height: 0.1rem;
	bottom: -1.4rem;
	right: 0;
	left: 0;
	margin: 0 0;
}

.course_students_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}
.course_students_view,
.course_students_conmments {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.course_pagelink {
	/* color: #fff; */
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.5rem;
}

.course_pagelink_text {
	font-size: 2rem;
	margin-right: 0.5rem;
}
